@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #162A41;
  --background-1: #F8F8FB;
  --font-roboto: "Roboto", sans-serif;
  --para-1: #333333;
  --heading: #2A2C30;
  --shape-1: #EEF7FF;
  --card-shadow: #0073E10D;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-1: var(--background-1);
  --color-para-1: var(--para-1);
  --color-heading: var(--heading);
  --color-shape-1: var(--shape-1);
  --color-card-shadow: var(--card-shadow);
  --font-sans: var(--font-roboto);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
